.form{
    width: 100%;
    display: flex;
    gap: 6px;
    @media screen and (max-width:768px) {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.input__form{
    width: 100%;
    padding: 14px 16px;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 5px;
    @media screen and (max-width:768px) {
        font-size: 16px;
        padding: 13px 15px;
    }
}


.btnAgregar__form{
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #cacaca2d;
    transition: all .4s ease-in-out;

    &:hover{
        border-color: #ffffffad;
    }
    @media screen and (max-width:768px) {
        width: 100%;
        padding: 12px 12px;
        font-size: 17px;
    }
}