
.item{
    width: 100%;
    border: 3px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    @media screen and (max-width:768px) {
        border: 2px solid #fff;
    }
}

.done{
    border-color:rgb(36, 122, 43) ;
    .description__item{
        text-decoration-line: line-through; 
        opacity: .7;
    }
}

.description__item{
    font-size: 20px;
    line-height: 17px;
    font-weight: 300;
    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

.action__item{
    display: flex;
    gap: 10px;
    align-items: center;

    // input[type="checkbox"]:checked{
        
    // }
    
    .check__action{
        border: none;
        cursor: pointer;
    }

    .delete__action{
        cursor: pointer;
        padding: 4px 8px;
        transition: all .3s ease-in-out;
        &:hover{
            background-color: rgb(204, 57, 57);
        }
    }
    @media screen and (max-width:768px) {
        gap: 8px;
        & .delete__action{
            padding: 3px 7px;
            font-size: 13px;
        }
    }
}

