@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  font-family: 'Poppins', sans-serif;
}

#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232523;
  color: #f2f2f2;
}